$default-gap: 20px;

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: $default-gap;
  margin-bottom: 20px;

  & > .photo-card {
    width: 100%;

    @media screen and (width >= 768px) {
      width: calc((100% - $default-gap * 3) / 4);
    }
  }
}
